.DataTable-container {
	padding-top: 30px;
}

/*.jsonOdd {
  background: #eeee;
}*/

.DataTable-mainTable {
	margin-left: 10px;
	margin-right: 10px;
}

.DataTable-headers {
	background: #F1EFF9;
	color: black;
}