.DataTable-container {
	padding-top: 10px;
}

/*.jsonOdd {
  background: #eeee;
}*/

.mainTable {
	margin-left: 10px;
	margin-right: 10px;
}

.headers {
	background: #F1EFF9;
	color: black;
}

.headerClass {

}