.DupeAlert-container {
	padding-top: 40px;
}

.DupeAlert-table {
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #E0D500;
}

.DupeAlert-image {
	max-height:20px;
	width: auto;
	padding:10px;
	float:left;
}